{% extends "minimal-layout.html" %}

{% block page_title %}
  NHS Service finder
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">

<div id="fakephone">
    <div id="fakephonetitle">
        <div id="fakephonetitle-a">
            <a href="phone-finder-results">Back</a>
        </div>

        <div id="fakephonetitle-b">
            Search results
        </div>

        <div id="fakephonetitle-c">
            <!--<a href="phone-finder-glossary">Glossary</a>-->
        </div>

        <br clear="all">

    </div>

    <div id="phone-results">

       <h2 class="phone-heading-results">Minor Injuries - Bicester First Aid Unit</h2>

    </div>

    <div id="phone-result-content">

      <span style="display:inline-block;">
        <a href="phone-finder-search-type" style="text-decoration: none;margin-left: 1.5em">⟲ Back to start</a>
      </span>



       <div class="profile-section opening-hours">
          <h3>Opening hours</h3>
          <dl>
            <dt>Monday</dt>
            <dd>Open 24 hours</dd>
            <dt>Tuesday</dt>
            <dd>Open 24 hours</dd>
            <dt>Wednesday</dt>
            <dd>Open 24 hours</dd>
            <dt>Thursday</dt>
            <dd>Open 24 hours</dd>
            <dt>Friday</dt>
            <dd>Open 24 hours</dd>
            <dt>Saturday</dt>
            <dd>Open 24 hours</dd>
            <dt>Sunday</dt>
            <dd>Open 24 hours</dd>
                
            <dt>Public Holidays</dt>
            <dd>Open 24 hours</dd>
          </dl>

          <br clear"all">
        </div>

        <div class="profile-section service-details" style="margin-bottom: 2em">
          <!--<h3>Details</h3>-->

          <p>
            <dt style="font-weight: 600">Type of service</dt><br>
            <dd>Minor Injuries Centre (MIU)</dd>
          </p>

          <p>
            <dt style="font-weight: 600">Capacity</dt><br>
            <dd>Not specified</dd>
          </p>

          <p>
            <dt style="font-weight: 600">Address</dt><br>
            <dd>Bicester Community Hospital<br>
            access via Coker Close<br>
            Bicester<br>
            Oxfordshire, OX26 6HT</dd>
          </p>
          


          <div id="map-block" >
            <details>

              <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="margin-left: 0">
                <span class="summary" >Show a map</span>
              </summary>
          
              <div class="" id="details-content-0" aria-hidden="false" style="display:block;">

                <div style="max-width:500px;margin-left:-40px">
                  
                  <iframe width="500" height="400" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?origin=OX27+7QR&destination=OX26+6HT&key=AIzaSyB4HaYoJWHWt2snOCW7HsLN9FaWZ_LmfLY" allowfullscreen></iframe>
                </div>
              </div>

            </details>
          </div><!-- end map block -->



        </div><!-- end the details section -->



        



        <div id="contact-block" style="line-height:1.5;background-color: #F0F4F5;margin: 0 0 0.4em 0;padding: 0.4em 0 0.4em 1.6em;">
          <p>
            <dt style="">Telephone</dt>
            <dd><a href="tel:01869345501" class="phone-number">01869 345 501 <span class="phone-call">Call</span></a></dd>
          </p>
          <p>
            <dt>Non-public telephone</dt>
            <dd><a href="tel:01869345502" class="phone-number">01869 345 502 <span class="phone-call">Call</span></a></dd>
          </p>
          <p>
            <dt>Website</dt>
            
            <dd><a href="http://website.com">http://www.service-website.com</a></dd>
          </p>

        </div><!-- end of all the contact block  -->

        


        <div class="profile-section" style="margin-right: 1em">
          <h3>Important Information</h3>

          <p>SERVICE OVERVIEW:</p>

          <p>This service deals with a whole range of health problems. They also provide health education, offer advice on smoking and diet, run clinics, give vaccinations and carry out simple surgical operations.</p>

          <p>Practices also include nurses, healthcare assistants, practice managers, receptionists and other staff. Practices also work closely with other healthcare professionals, such as health visitors, midwives, mental health services and social care services.</p>

          <p>REFERRAL CRITERIA:</p>

          <p>Contact the practice to make an appointment or advise patient to attend in person (if more convenient). Most practices have urgent appointments available each day, if patient has an urgent care need.</p>

          <p>FURTHER INFORMATION:</p>

          <p>Wheelchair accessible premises</p>

        </div>



        <div class="feedback-banner">

          <div class="feedback-item">
            <span>Is something wrong with this information?</span>
            <br>
            <strong>Tell us about how to correct or improve it</strong>
          </div>

        </div>

        <div class="feedback-banner">

          <div class="feedback-item">
            <span>Referring a patient to this service?</span>
            <br>
            <strong>Tell us about success or failure</strong>
          </div>

        </div><!-- end the scrolling banner -->



        <div id="bottom-of-page">
          
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          
        </div>



        <div>
          <!--<a href="phone-finder-result-actions">-->
          <div class="phonebutton phone-next" style="font-size: 1.25em;padding-left: 0.7em;width: 420px">

              <div class="multiple-choice">
                <input id="services-s2" type="checkbox" name="selectedservices" value="Ambulance Service">

                <label for="services-s2" class="name">Patient directed to this service</label>
              </div>

          </div>              
        </div>





    <div id="phone-browser-nav">
      <img id="ios-browser-nav" src="/public/images/spacer.png" border="0" width="480" usemap="#ios-browser-navmap" />

      <map name="ios-browser-navmap" id="ios-browser-navmap">
        <area alt="" title="back" href="phone-finder-results" shape="rect" coords="0,12,100,80" style="outline:none;" />
      </map>

    </div>


</div>

</main>





{% endblock %}


